<%- include('../partials/header') %>
<%- include('../partials/navbar') %>
<div class="container-lg" style="margin-top: 2%;" id='fillup'>

</div>
<div class="container-fluid">
    <div class="row-fluid" id="homeBack" style="text-align:center">
        <h2 style="font-weight: bold; text-align:center;">ERROR</h2>
    </div>
</div>