#tabs {
  padding: 50px;
  background-color: rgba(207,184,124,0.8);
  border-radius: 10px;
  margin-top: 5vw;
  margin-bottom: 10vw;
}

body {
  background-image: url("../Images/c4c.jpeg");
  background-color: linear-gradient(
      rgb(255, 255, 255),
      rgb(245, 242, 242)
    );
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
}

.op:link {
  color: white;
  padding-right: 25px;
  font-size: 20px;
  font-weight: bold;
}

.op:active {
  color: white;
  padding-right: 25px;
  font-size: 20px;
  font-weight: bold;
}

.op:visited {
  color: white;
  padding-right: 25px;
  font-size: 20px;
  font-weight: bold;
}

#location {
  margin-top: 3vw;
  margin-bottom: 2vw;
  color: white;
}

#acc,#mine,#pref {
  background-color: rgba(255,255,255,0.5);
  margin-top: 2vw;
  margin-bottom: 2vw;
  border-radius: 10px;
  padding-left: 3vw;
  padding-right: 3vw;
  padding-bottom: 5vw;
  padding-top: 2vw;
}

#name {
  margin-top: 3vw;
  color: white;
  font-weight: 800;
}

#left {
  margin-bottom: 15vw;
}

#description {
  color: lightslategray;
}

#left {
  background-color: rgba(0,0,0,0.5);
  margin-top: 8vw;
  padding-left: 3vw;
  padding-right: 2vw;
  padding-bottom: 2vw;
  border-radius: 10px;
  filter: drop-shadow(12px 12px 3px rgba(0,0,0,0.4));
}

#right {

  margin-top: 10vw;
  padding-left: 5vw;
}

.stat  {
  padding-bottom: 1vw;
  color: white;
  margin-bottom: 2vw;
  background-color: tan;
  padding-top: 1vw;
  padding-left: 1vw;
  margin-right: 13vw;
  border-radius: 8px;
  font-weight: 800;
  filter: drop-shadow(8px 8px 2px rgba(0,0,0,0.3));
}

#main {
  background-color: rgba(200,200,200,0.6);

}

#buy, #offer {
  padding-left: 20px;
  color: white;
  background: tan;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
  border-radius: 10px;
  margin-left: -1vw;
}

#buy:hover, #offer:hover {
  border: solid;
  border-width: 3px;
  border-color: white;
}

#carry {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  background-color: rgba(200,200,200,0.6);
}

#buy {
  padding-left: 3vw;
  padding-right: 3vw;
}

#login_logo{
  width: 140px;
  height: 140px;
}

#login_cont{
  width: 380px;
  margin: auto;
  background-color: rgba(207,184,124,0.8);
}

#login_font{
  font-size: 100px;
  padding-top: 20px;
}

#login_hyper{
  color: black;
}

.heads {
  margin-bottom: 2vw;
  margin-top: 2vw;
  font-weight: bold;
}

input {
  margin-bottom: 2vw;
}

#account {
  padding-right: 10vw;
}

#save {
  margin-top: 2vw;
  background-color: rgba(207,184,124,0.8);
  color: white;
  border-radius: 5px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  border: solid;
  border-color: white;

}
#save:hover {
  background-color: rgba(207,184,124);
}

#flexor {
  margin-bottom: 2vw;
}

label {
  font-weight: bold;
}

.form-check-label {
  margin-left: 2vw;
}

#feet {

  font-size: 40px;
  color: rgba(207,184,124);
}

.form-check {
  margin-bottom: 2vw;
}

#delete {
  margin-left: 18vw;
  background-color: white;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  padding-left: 2vw;
  padding-right: 2vw;
  padding-top: 1vw;
  padding-bottom: 1vw;
}

#search{
  border-style: solid;
  border-width: 1px;
  text-align: center;
  width: 400px;
}

#search::placeholder{
  color: white;
}

#searchPlace{
  margin-left: auto;
  margin-right: auto;
  padding-right: 80px;
}

#homeBack{
  background-color: rgba(207,184,124,0.8);
  margin: 30px;
  border-radius: 10px;
  padding: 30px;
}

#homeCards{
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
}

#addPhoto{
  border-width: 7px;
  border-radius: 10px;
  margin: 25px;
  width: 450px;
  height: 400px;
  margin-bottom: 30px;
  margin-top: 25px;
}
#addPhotoPlace{
  margin-top: 70px;
  margin-left: 70px;
}

#type{
  padding-left: 20px;
  color: rgba(27, 27, 27, 0.6);
  background: white;
  padding-right: 75px;
  padding-top: 9px;
  padding-bottom: 8px;
  border-radius: 10px;
  border-color: rgba(200,200,200,0.6);
  margin-left: 1vw;

}

#subList{
  margin-left: 340px;
  margin-right: 30vw;
}

#listTitle{
  justify-content: center;
}

.card-img {
  width: 100%;
  height: 12vw;
  object-fit: cover;
}

.card-img-top {

  width: 100%;
  height: 15vw;
  object-fit: cover;

}

.stretched-link {
  color: white;
  font-weight: bold;
  padding-top: 1vw;
  padding-bottom: 1vw;
  font-size: 20px;
}

.stretched-link:hover {
  color: white;
  font-weight: bold;
  padding-top: 1vw;
  padding-bottom: 1vw;
  font-size: 20px;
}

#newListBox {
  padding-bottom: 3vw;
}

#sold, #deleter {
  background-color: white;
  border: none;
  border-radius: 5px;
  font-size: 15px;
}

#sold {
  padding: 1vw;
}

#deleter {
  margin-top: 1vw;
  padding-left: 2vw;
  padding-right: 2vw;
  padding-top: 1vw;
  padding-bottom: 1vw;
}

#whole {
  padding: 5vw;
}

#searchTitle{
  margin-right: auto;
  margin-left: auto;
}

#sold:hover {
  background-color: #EEEEEE;
}

#delete:hover {
  background-color: #EEEEEE;
}


#deleter:hover {
  background-color: #EEEEEE;
}

#screenName{
  margin-right: 30px;
  margin-top: 20px;
}
